.cards {
	display: flex;
	flex-wrap: wrap;
	padding: 20px 0;
}

.card {
	background: #fff;
	flex-basis: 200px;
	border-radius: 7px;
	padding: 15px;
	margin: 7px;
	box-shadow: 2px 2px 3px #c7c7c7;
}

.cardTitle {
	margin-top: 0;
}

.list {
	list-style: none;
    padding-left: 0;
}