.form {
	padding: 20px 0;
}

.form input, .form textarea {
	display: block;
	width: 200px;
	margin: 5px 0;
	padding: 10px 5px;
	resize: none;
}

.error {
	color: red;
}

.label {
	display: block;
	margin: 10px 0;
}

.button {
	border: 2px solid #6464d4;
    border-radius: 7px;
    background: transparent;
    font-size: 16px;
    color: #6464d4;
    padding: 10px 20px;
    cursor: pointer;
	margin-top: 10px;
}