.header {
	background: #6464d4;
	padding: 20px 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	display: flex;
	align-items: center;
}

.logo h1 {
	margin-left: 20px;
	font-size: 24px;
	color: #f9f9f9;
}

.logoImg {
	width: 50px;
}

.button {
	border: 2px solid #f9f9f9;
    border-radius: 7px;
    background: transparent;
    font-size: 16px;
    color: #f9f9f9;
    padding: 10px 20px;
    cursor: pointer;
}